html{
    height: 100%;
    scroll-behavior: smooth
};

html,body {
    position: relative;
    height: 100%;
}
body{
    min-height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    flex-direction: column;
}
.header_top_bar{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid #E5E5E5;;
}
.header_top_bar p{
    margin-right: 30px;
}
.header_top_menu{
    display: flex;
    gap: 1em;
    list-style-type: none;
}
.header_top_menu_item{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    color: #6E6E73;

}
.header_top_menu_item:hover{
    text-decoration-line: underline;
    text-decoration-color: #333333;
}
.header_low_menu{
    display: flex;
    gap: 18px;
    list-style-type: none;
}
.header_low_bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header_low_items{
    display: flex;
    align-items:center;
}
.header_low_menu_item{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
/* identical to box height */
    text-transform: uppercase;
    max-width: fit-content;
    color: #1D1D1F;
    cursor: pointer;
}
.header_low_menu_item:hover{
    text-decoration-line: underline;
    text-decoration-color: #6E6E73;
}
.dot{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    align-self: center;
    color: #C4C4C4;
    cursor:default;
    text-decoration: none;
}
.header_low_search{
    display: flex;
    align-items: center;
}
.header_low_input{
    padding: 12px;
    max-height: 44px;
    max-width: 304px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    color: #C4C4C4;;
    background: #FFFFFF;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
}
.header_low_search_call{
    display: flex;
    align-items: center;
    background: #1D1D1F;
    border-radius: 4px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    max-height: 44px;
    color: #FFFFFF;
}
.low_search_text{
    max-width: 77px;
    font-size: 16px;
}
.header_low_logos{
    margin-left: 1em;
    display: flex;
    gap: .5em;
}
.header_low_img:hover{
    width: 99px;
    height: 99px;
}
.header_slider_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 600px;
    background: #E5E5E5;
    position: relative;
}
.header_slider_button{
    width: 11px;
    height: 11px;
    background: #1D1D1F;
    border-radius: 100px;
    padding: 8px;
}
.header_slider_buttons_wrapper{
    align-self: flex-end;
    display: flex;
    justify-content: space-between;
    margin-top: 3em;
    min-width: 900px;
}

.arrow_button:nth-of-type(2){
    margin-right: 2em;
}
.arrow_button{
    background: #FFFFFF;
    border-radius: 4px;
    min-width:50px;
    min-height: 50px;
    color: #6E6E73;
    height: 12px;
    font-size: 1.2em;
}
.slider_arrow_button:nth-of-type(2){
    margin-right: 2em;
}
.header_slider_button_arrow{
    display: flex;
}
.header_slider_info{
    display: flex;
    flex-wrap: wrap;
    position: relative; 
    align-items: center;
}

.header_slider_head{
    margin-left: 5em;
    position: absolute;
    z-index: 1;
    max-width: 495px;
    max-height: 554px;
    background: rgba(255, 255, 255, 0.72);
    backdrop-filter: blur(61px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 4px 4px 0px 0px;
}
.head_title{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    max-width:374px;;
    /* or 58px */

    color: #1D1D1F;
}
.head_text{
    max-width: 307px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;

    /* or 30px */

    color: #6E6E73;
}

.head_button{
    margin-top: 48px;
    max-width: 374px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;

    /* identical to box height, or 30px */

    /* Color / White */
    color: #FFFFFF;
    padding: 24px 140px;

    background: #1D1D1F;
    border-radius: 4px;
}
.header_slider_wrapper{
    display: flex;
    gap: 51px;
    overflow: hidden;
    margin-top: 3em;
}

.header_slider{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    min-width: 540px;
    min-height: 477px;
}
.header_slider_first{
    background-image: url("img/image\ 2\(1\).png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content:flex-end;
    align-items: flex-end;
   
}
.header_slider_second{
    background-image: url("img/image\ 2.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content:flex-end;
    align-items: flex-end;
}
.header_slider_third{
    background-image: url("img/image\ 2\(2\).png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content:flex-end;
    align-items: flex-end;
}

.reviews_container_wrapper{
    display: flex; 
    gap: 1em;
}

.main{
    min-width: 1080px;
    max-width: 1080px;
}

.header_slider_item{
    margin-right: 2em;
    min-width: 194px;
    min-height: 147.07px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 23px;
    background: rgba(255, 255, 255, 0.72);
    backdrop-filter: blur(31px);
    /* Note: backdrop-filter has minimal browser support */

}
.header_slider_info_title{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 120%;

    /* identical to box height, or 34px */

    color: #1D1D1F;
}
.header_slider_info_descr{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;

    /* or 19px */

    color: rgba(0, 0, 0, 0.25);
}
.header_slider_info_price{
    display: flex;
    justify-content: space-between;
    gap: 1em;
}
.header_slider_info_money{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;

    /* identical to box height, or 30px */

    color: #1D1D1F;

}
.header_info_button{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}
.header_main_descr_wrapper{
    margin-top: 104px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
}
.header_main_item{
    max-width: 250px;
    min-height: 250px;
}
.header_main_title{
    font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 150%;

/* identical to box height, or 27px */

color: #333333;
}
.header_main_descr{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    /* or 24px */

    color: #6E6E73;


}
.header_main_img{
    height: 48px;
    width: 48px;

border-radius: 0px;

}
main{
    display: flex;
    flex-direction: column;
    background-color: #E5E5E5;
}
.main_shop_container{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;

}
.main_shop_title{
    margin-left: 2em;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;

    /* identical to box height, or 58px */

    color: #1D1D1F;


}
.main_shop_button{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}
.main_shop_items{
    align-self: center;
    display: flex;
}
.main_shop_item{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 348px;
    min-height: 342px;
    filter: drop-shadow(0px 16px 24px rgba(0, 0, 0, 0.06)) drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.04)) drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.04));
    border-radius: 4px;
    background-image: url("img/Rectangle\ 67.png");
    background-size: cover;
}

.main_shop_item:nth-of-type(2){
    background-image: url("img/Rectangle\ 67\(1\).png")
}
.main_shop_item:nth-of-type(3){
    background-image: url("img/Rectangle\ 67\(2\).png")
}
.main_shop_item:nth-of-type(4){
    background-image: url("img/Rectangle\ 67\(3\).png");
    background-size: cover;
}
.main_shop_info{
    display: flex;
    background: rgba(255, 255, 255, 0.72);
    backdrop-filter: blur(31px);

    /* Note: backdrop-filter has minimal browser support */
    border-radius: 4px;
    padding: 10px;
}
.main_reviews_top_bar{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}
.main_top_bar_section{
    display: flex;
    align-items: center;
    gap: 5em;
}
.review_button{
    background-image: url("img/Ellipse\ 1.png");
    width: 11px;
    height: 11px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    border-radius: 100px;
    align-self: flex-end;
}
.active{
    padding: .8em;
    opacity: 0.7;
    border: 1px solid #151521;
    box-sizing: border-box;
}
.main_reviews_container{
    display: flex;
    flex-direction: column;
    background: #E5E5E5;
    border: 1px solid #E5E5E5;
}

.swiper {
    width: 80%;
    height: 20%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    object-fit: cover;
  }
  
  .swiper {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
  }
  .reviews_item_top{
      display: flex;
      flex-direction: column;
      max-width: 453px;
  }
  .review_item_img{
    width: 80px;
    height: 80px;
}
.review_item_header{
    display: flex;
    justify-content: center;
    gap: 1em;
}
.reviews_item_box_name{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;

    /* identical to box height, or 22px */

    color: #1D1D1F;
}

.revies_item_box_date{
   
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 218%;

    /* identical to box height, or 31px */
    text-align: right;

    color: #6E6E73;


}
.reviews_item_descr{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 218%;

    /* or 31px */

    color: #1D1D1F;

}
.main_products_title{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;

    /* identical to box height, or 58px */

    color: #1D1D1F;


}
.main_products_container{
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #E5E5E5;
    margin-bottom: 5em;
}
.main_product_name{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 120%;

    /* identical to box height, or 22px */

    color: #1D1D1F;


}
.main_product_price{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;

    /* identical to box height, or 36px */

    color: #1D1D1F;
}
.main_product{
    display: flex;
    flex-direction: column;
    align-self: center;
    filter: drop-shadow(0px 16px 24px rgba(0, 0, 0, 0.06)) drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.04)) drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.04));
    border-radius: 4px;
    background-color: #FFFFFF;
    align-items: center;
}
.main_products{
    display: flex;
    align-items: center;
    gap: 1em;
}

.main_page_add_container{
    background: #1D1D1F;
    min-height: 517px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_page_text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.main_page_text_title{
    font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 120%;

/* identical to box height, or 58px */

color: #FFFFFF;


}
.main_page_text_subtittle{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;

    color: #F5F5F7;
}
.main_page_text_descr{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    max-width: 690px;
    color: #6E6E73;


}
.main_page_images{
    max-width: 650px;
}
.main_page_button{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;

    /* identical to box height, or 21px */
    display: flex;
    align-items: center;
    text-transform: uppercase;
    max-width: 149px;
    max-height: 45px;
    color: #1D1D1F;
    padding: 12px;
    background: #FFFFFF;
    border-radius: 4px;
}
.main_form_wrapper{
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main_form_input{
    display: flex;
}
.main_form_wrapper_title{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;

    color: #1D1D1F;
}
.main_form_wrapper_descr{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;

    /* identical to box height */
    text-align: center;

    color: #1D1D1F;
}
.main_form_links{
    margin-top: 2em;
}
.form_input{
    padding: 8px;
    background: #FFFFFF;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
}
.form_submit{
    padding: 8px;
    background: #1D1D1F;
    border-radius: 4px;
    text-align: center;
    color:#FFFFFF;;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
}
.link_img{
    background-image: url("img/linkedin.png");
    background-size: cover;
    width: 24px;
    height: 24px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}
.header_main_descr_wrapper:nth-of-type(2){
    background-color:#E5E5E5
}
footer{
    display: flex;
    flex-direction: column;
    margin-top: auto;
    background-color: #1D1D1F;
    padding-top: 20px;
}
.footer_info{
    display: flex;
    justify-content: space-around;
}
.footer_info_text{
    display: flex;
    flex-direction: column;
}
.footer_info_title{
    font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 23px;

/* identical to box height */

color: #FFFFFF;


}
.reviews_item_box{
       /* Center slide text vertically */
       display: -webkit-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-box-pack: center;
       -ms-flex-pack: center;
       -webkit-justify-content: center;
       justify-content: center;
       -webkit-box-align: center;
       -ms-flex-align: center;
       -webkit-align-items: center;
       align-items: center;
}
.footer_info_links{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 150%;

    /* identical to box height, or 18px */

    color: #C4C4C4;
    text-decoration: none;
    text-decoration-color: none;
}

.footer_twitter{
    background-image: url("img/linkedin.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
    border-radius: 4px;

}
.footer_twitter:hover{
    background-color: #F5F5F7;
    
}
.header_main_anchor{
    align-self: flex-end;
    margin-bottom: 1em;
}
.header_anchor{
    border: 1px solid #1D1D1F;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 23px;
}
.footer_info_img{
    display: flex;
    gap: .3em;
    align-self: center;
}
.footer_map_img{
    align-self: center;
    max-width: 360px;
    max-height: 153px;
}
.footer_map_img:hover{
    border: 2px solid #FFFFFF;
    border-radius: 5px;
}


.hide{
    display: none;
}
.show{
    display: block;
}
@media(max-width:1600px){
    .header_top_bar{
        display: none;
    }
    .dot{
        display: none;
    }
    .header_top_menu_item{
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
    }
    .header_slider_buttons_wrapper{
        max-width: 1600px;
    }
    .header_slider_first{
        max-width: 540px;
    }
    .main{
        width: 540px;
    }
}
@media(max-width:1480px){
    .header_low_search{
        display: none;
    }
    .header_main_descr_wrapper{
        flex-direction: column;
        align-items: center;
    }
    .main_shop_items{
        flex-direction: column;
    }
    .reviews_container{
        flex-direction: column;
    }
}
@media(max-width:1120px){
    .header_low_bar{
        flex-direction: column;
        gap: 2em;
        justify-content: center;
    }
    .footer_info{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header_low_items{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    .header_low_menu{
        font-size: 9px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
    .header_low_logos{
        margin-bottom: 1.5em;
    }
    .footer_info_text{
        display: none;
    }
    .main_page_add_container{
        flex-direction: column;
    }
}
@media(max-width:608px){
    .header_low_menu{
        display: none;
    }
    
    .footer_info_img{
        max-width: 180px;
        max-height: 73px;
    }
}